<!-- <div class="container my-4">
  <button (click)="toggler=!toggler" class="btn btn-primary">Toggle details</button>
  <p *ngIf="toggler">Gaurav Sharma</p>
  <button class="btn btn-primary" (click)="logging()">Logging</button>
  <p [ngClass]="{'text-white':log>=5}" [ngStyle]="{backgroundColor: log>=5?'blue':'transparent'}" *ngFor="let log of logs">{{log+1}}</p>
</div> -->

<!-- 
<div class="container my-3">
  <app-success-alert></app-success-alert>
  <app-warning-alert></app-warning-alert>
</div> -->



<div class="container my-3">

  <!-- PROPERTY BINDING -->
  <!-- <input type="text" [(ngModel)]="serverName">
  <br><br>
  <button (click)="onCreateServer()" [disabled]="!allowNewServer" class="btn btn-primary">Add server</button>
  <p>{{serverCreationStatus}}</p> -->


  <!-- STRING INTERPOLATION -->
  <!-- <p>Server with ID {{serverId}} is {{getServerStatus()}}</p> -->



  <!-- 2 WAY BINDING -->

    <!-- <input type="text" name="" [(ngModel)]="title" id="">
    <p>{{title}}</p> -->


    <!-- <app-assignment></app-assignment> -->


      <app-forms></app-forms>
    
</div>